body {
    background-color: #222222;
    font-family: 'Verdana', 'sans-serif';
}

h1 {
    color: rgb(230, 219, 116);
}

div.comment {
    color:rgb(230, 219, 116);
    margin: 0px 0px 10px 0px;
}
form span{
	color: #c9c987;
}