body {
    background-color: #222222;
    font-family: 'Verdana', 'sans-serif';
}

h1 {
    color: rgb(230, 219, 116);
}

div.comment {
    color:rgb(230, 219, 116);
    margin: 0px 0px 10px 0px;
}
div#comments span, form span {
	display: inline-block;
	color: #ff751a;
	margin-bottom: 10px;
}
button {
  background-color: #76726b;
  border-radius: 5px;
  color: #f6f6f3;
  display: inline-block;
  margin: auto;
  text-decoration: none;
  border: none;
  padding: 5px;
}
button:hover {
  background-color: #8d877c;
}